

body, html {
    height: 100%; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
    
    
    background-color: darkblue; 
    color: white; 
}


