body{
    background-color: blue;
    color: white;
    margin:0px;
    padding:0px;
}


@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.retro-font-1{
    font-family:'RoundedFixedsys';
    font-size: 64px;
}


@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.retro-font-2{
    font-family: 'OngleipParkDahyeon';
    font-size:64px;
}




.box-1{
    display: flex;   /* 이거 면접에서 많이 물어봄 */    
    width: 128px;
    height: 64px;
    background-color: black;
    color: lawngreen;
}